# =============================================================================
# General System Files
# =============================================================================
# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# Log files
*.log
*.log.*

# Swap files from editors like Vim
*.swp

# =============================================================================
# Python Specific
# =============================================================================
# Virtual Environments
.venv/
venv/
env/

# Byte-compiled / optimized / C extensions
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches from common Python tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# =============================================================================
# Project-Specific
# =============================================================================
# Sensitive Environment Files
# Ignore all .env files, wherever they are located in the project.
**/.env

# Build, Distribution, and Packaging Artifacts
# These are created when you build packages with `pip` or `setuptools`.
build/
dist/
*.egg-info/

# IDE & Editor Configuration
.idea/
.vscode/
