# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Environment
packages/bot/.env

# IDEs
.idea/
.vscode/

# Other
*.log
*.swp

# Build artifacts
dist/
build/
*.egg-info/

packages/bot/config/instructions.json